@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b;
  color: #f4f4f5;
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
