.input {
    display: flex;
    width: 100%;
    height: 2.25rem;
    border-radius: var(--radius-md);
    border: 1px solid var(--border);
    background-color: transparent;
    padding: 0.25rem 0.75rem;
    font-size: var(--font-size-base);
    font-family: var(--font-main);
    color: var(--text-main);
    box-shadow: var(--shadow-sm);
    transition: border-color var(--transition-fast),
        box-shadow var(--transition-fast);
}

.input::placeholder {
    color: var(--text-dim);
}

.input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px var(--text-muted);
}

.input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.input::-webkit-file-upload-button {
    border: 0;
    background: transparent;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--text-secondary);
}

@media (min-width: 768px) {
    .input {
        font-size: var(--font-size-sm);
    }
}