.label {
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 1;
    font-family: var(--font-main);
    color: var(--text-secondary);
}

.label[data-disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}